*.class

# OS Specific
*.ds_store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Data files
/data/
*.database
*.dat
*.db
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
*.zip
*.rar
/world/
/world_nether/
/world_the_end/
/plugins/WorldGuard/
/plugins/Essentials/userdata/
/mcMMO/flatfile/
*.gz
/data-storage/
usercache.json
spigot.yml
server.properties
